h1{
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: aquamarine;
  color: aliceblue;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
  height: 25%;
  width: 25%;
}

body{
  background: url('../img/bgimage.jpeg');
  background-color: rgb(231, 120, 120);
  background-attachment: fixed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.columnmain {
  color: whitesmoke;
  width: auto;
  float: center;
  margin: 12px;
  padding: 10px;
  background: rgb(34,193,195);
  background: linear-gradient(122deg, rgba(34,193,195,0.9313984168865436) 22%, rgba(54,80,199,0.9234828496042217) 48%, rgba(253,45,68,0.9604221635883905) 77%);
}
.columnsecondary {
  width: auto;
  float: left;
  margin: 24px;
  padding: 10px;
  background: rgb(196,64,129);
  background: radial-gradient(circle, rgba(196,64,129,1) 9%, rgba(215,158,26,1) 48%, rgba(0,255,217,1) 81%);
}

p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
