h1{
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: aquamarine;
  color: aliceblue;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
  height: 25%;
  width: 25%;
}

body{
  background: url('../img/bgimage.jpeg');
  background-color: rgb(231, 120, 120);
  background-attachment: fixed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.columnmain {
  width: auto;
  float: center;
  margin: 12px;
  padding: 10px;
  background-color: rgb(126, 205, 236);
  opacity: 90%;
}
.columnsecondary {
  width: auto;
  float: left;
  margin: 48px;
  padding: 20px;
  background-color: rgb(109, 211, 148);
  opacity: 90%;
}

p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
